.boxContainer {
  display: flex;
  background-color: #2b2e41;
  padding: 1rem;
  align-items: center;
  border-radius: 10px;
  transition: box-shadow 0.2s ease;
  gap: 1rem;
}

.boxContainer:hover {
  box-shadow: 5px 5px 0 #ff4b57;
  cursor: pointer;

  .circle {
    background-color: #ff4b57;
    transition: background-color 0.2s ease;
  }
}

.boxDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.boxDetailsContainer h4 {
  margin: 0;
  font-size: 1.3rem;
}

.boxDetailsContainer p {
  font-size: 0.8rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #23253a;
  height: 50px;
  width: 50px;
}